body{
    font-family: Teko;
    background-color:rgb(56, 93, 102)
}

.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background:lightblue;
    width: 335px;
    height: 500px; 
    border-radius: 25px;
    border: solid 3px;
    border-style: double 3px;
    animation-name: anim1;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


.calculadora td button {
    
    display: block;
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: lightslategray;
    color: white;
    border-style: double;
}

#resultado{
    color: black;
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background:white;
    border-radius: 25px;
    overflow-y:scroll;
    border: solid black 1px;


   
}

@keyframes anim1 {

    0%{
        border-radius: 60px;
        background-color: blue;
    }
    25%{
        border-radius: 20px;
        background-color: violet;
    }

    50%{
        border-radius: 120px;
        background-color: red;
    }
    75%{
        border-radius: 20px;
        background-color: green;
    }

    100%{
        border-radius: 60px;
        background-color: yellow;
    }
   
}


   
